<h1>The picture has been edited.</h1>

<form action="http://localhost:3000/edit_picture/:id">
  <div>
    <label for="the_caption">Caption:</label>
    <input id="the_caption" type="text" name="caption"><%=picture.caption%>
  </div>
  <div>
    <label for="image_url">Image URL:</label>
    <input id="image_url" type="text" name="source">
  </div>
  <div>
    <input type="submit" value="Create Picture">
  </div>
</form>